.productPanel {
    position: relative;
}

.productPanelFloating {
    z-index: 3;
    position: absolute;
    background-color: white;
    display: none;
    padding: 40px;
    outline-style: solid;
    outline-width: 2px;
    outline-color: rgb(192,192,192);
    line-height: normal;
    width: 768px;
}

.productPanelBackground {
    z-index: 2;
    position: absolute;
    background-color: black;
    opacity: 0.7;
    display: none;
    left: 0;
    top: 0;
}

.productTopLeft {
    float: left;
}

.productTopLeft p {
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
}

.productTopLeft .tvFinderProductRating {

}

.productTopLeft .tvFinderProductRating span {

}

.productTopTitle {
    display: block;
    font-size: 28px;
    white-space: nowrap;
    width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.productCloseBox {
    float: right;
    background-image: url(../image/close-panel.png);
}

.productCloseBox,
.productCloseBox a {
    height: 26px;
    width: 26px;
}

.productCloseBox a {
    display: block;
    text-indent: -9999px;
}

.productMedia {
    clear: both;
}

.productMedia .carousel .goLeft,
.productMedia .carousel .goRight {
    display: inline-block;
    float: left;
    height: 52px;
    width: 31px;
    background-repeat: no-repeat;
    background-position:center;
    margin: 224px 40px;
}

.productMedia .carousel .goLeft {
    background-image: url(../image/arrow-left-gray.png);
}

.productMedia .carousel .goLeft.active  {
    background-image: url(../image/arrow-left.png);
}

.productMedia .carousel .goRight {
    background-image: url(../image/arrow-right-gray.png);
}

.productMedia .carousel .goRight.active {
    background-image: url(../image/arrow-right.png);
}

.productMedia .carousel .clipping {
    position: relative;
    height: 500px;
    width: 500px;
    overflow: hidden;
    float: left;
}

.productMedia .carousel ul {
    position: absolute;
    height: 500px;
}

.productMedia .carousel li {
    float: left;
    height: 500px;
    width: 500px;
}

.productMedia .centered-block-outer {
    clear: both;
}

.productMedia .pages {
    display: block;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
}

.productMedia .pages li {
    background-image: url(../image/carousel-position.png);
    background-repeat: no-repeat;
    background-position:center;
    display: block;
    float: left;
    height: 13px;
    width: 13px;
    margin: 0 5px;
}

.productMedia .pages li.active {
    background-image: url(../image/current-position.png);
}

.productMedia .pages li,
.productMedia .pages a {
    height: 13px;
    width: 13px;
}

.productMedia .pages a {
    display: block;
    text-indent: -9999px;
}

.productAbout {
    display: block;
    font-size: 28px;
    margin-top: 40px;
}

.productAboutLeft {
    width: 50%;
    font-size: 14px;
    color: rgb(144,144,144);
    float: left;
}

.productAboutRight {
    width: 50%;
    float: right;
}

.productAbout hr {
    position: relative;
    margin: 20px 0;
    border: 0;
    border-top: 1px solid rgb(192,192,192);
    display: block;
    left: -42px;
    height: 1px;
    width: 848px;
}