<ul>
    {{#baseItem.alternateImageData}}
        <li><img width="500" height="500" src="{{lgImageSrc}}" alt=""/></li>
    {{/baseItem.alternateImageData}}
</ul>
<div class="productMediaGotoPage">
    {{#baseItem.alternateImageData}}
        <a href="#">{{@index}}</a>
    {{/baseItem.alternateImageData}}
</div>