{{baseItem.genericContent.itemName}}
<p class="tvFinderProductRating">
                    <span style="width: {{ratingWidth}}px"
                          title="{{ratingDisplay}} out of 5 Stars"></span>
</p>
{{reviewsCount}} | Write a Review | Ask a Question
