About
<div class="productAboutLeft">{{#formattedText 300}}{{{baseItem.genericContent.shortDescription}}}{{else}}<a href="#" title="Continue Reading">Continue Reading</a>{{/formattedText}}</div>
<div class="productAboutRight"></div>
<hr>