<article class="appContent">
    <header class="appHeader">
        <link rel="stylesheet" type="text/css" href="index.css"/>
    </header>
    <section class="appBody"></section>
    <footer class="appFooter"></footer>
</article>
<!--#script src="index.js"></script#-->
