<article class="appContent">
    <header class="appHeader"></header>
    <section class="appBody"></section>
    <footer class="appFooter"></footer>
</article>
<!--#script src="index.js"></script#-->
