<article class="appContent">
    <header class="appHeader"></header>
    <section class="appBody"></section>
    <footer class="appFooter"></footer>
</article>
<script src="../node_modules/requirejs/require.js"></script>
<script>
    require.config({
        "baseUrl": "..",
        "paths": {
            "app/TvFinderApp": "target/tvFinderApp-client", // comment to get components individually
            "handlebars": "node_modules/handlebars/dist/handlebars.runtime",
            "Backbone": "node_modules/backbone/backbone",
            "underscore": "node_modules/underscore/underscore",
            "jQuery": "lib/jquery-1.8.3",
            "content": "lib/content-client",
            "cart": "lib/cart-client",
            "televisions": "lib/televisions-client"
        },
        "shim": {
            "Backbone": {
                "deps": [
                    "underscore",
                    "jQuery"
                ],
                "exports": "Backbone"
            },
            "jQuery": {
                "exports": "$"
            },
            "underscore": {
                "exports": "_"
            },
            "handlebars": {
                "exports": "Handlebars"
            },
            "lib/jquery.ui.sliderX": {
                "deps": [
                    "lib/jquery.ui.slider"
                ]
            },
            "lib/jquery.ui.slider": {
                "deps": [
                    "lib/jquery.ui.widget",
                    "lib/jquery.ui.mouse"
                ]
            },
            "lib/jquery.ui.mouse": {
                "deps": [
                    "lib/jquery.ui.widget"
                ]
            },
            "lib/jquery.ui.widget": {
                "deps": [
                    "lib/jquery.ui.core"
                ]
            },
            "lib/cutstring": {
                "exports": "CutString"
            }
        }
    });
    require(['app/TvFinderApp'], function (tvFinderApp) {
                tvFinderApp().then(
                        function(tvFinder) {
                            tvFinder.start();
                        },
                        function (error) {
                            console.log(error);
                        }
                );
            }
    );
</script>
