<article class="appContent">
    <header class="appHeader"></header>
    <section class="appBody"></section>
    <footer class="appFooter"></footer>
</article>
<script src="/usr/local/lib/node_modules/requirejs/require.js"></script>
<script>
    require.config({
        "paths": {
            "app/TvFinderApp": "tvFinderApp-client", // comment to get components individually
            "handlebars": "/usr/local/lib/node_modules/handlebars/dist/handlebars.runtime",
            "Backbone": "/usr/local/lib/node_modules/backbone/backbone",
            "underscore": "/usr/local/lib/node_modules/underscore/underscore",
            "jQuery": "lib/jquery-1.7.2",
            "content": "lib/content-client",
            "televisions": "lib/televisions-client"
        },
        "shim": {
            "Backbone": {
                "deps": [
                    "underscore",
                    "jQuery"
                ],
                "exports": "Backbone"
            },
            "jQuery": {
                "exports": "$"
            },
            "underscore": {
                "exports": "_"
            },
            "handlebars": {
                "exports": "Handlebars"
            },
            "lib/jquery.ui.sliderX": {
                "deps": [
                    "lib/jquery.ui.slider"
                ]
            },
            "lib/jquery.ui.slider": {
                "deps": [
                    "lib/jquery.ui.widget",
                    "lib/jquery.ui.mouse"
                ]
            },
            "lib/jquery.ui.mouse": {
                "deps": [
                    "lib/jquery.ui.widget"
                ]
            },
            "lib/jquery.ui.widget": {
                "deps": [
                    "lib/jquery.ui.core"
                ]
            }
        }
    });
    require(['app/TvFinderApp'], function (tvFinderAppPromise) {
                tvFinderAppPromise.then(
                        function (tvFinderApp) {
                            tvFinderApp().start();
                        },
                        function (error) {
                            console.log(error);
                        }
                );
            }
    );
</script>
