Brand
<div class="btn-group tvFinderControl">
    <a class="btn btn-large dropdown-toggle" data-toggle="dropdown" data-value="*" href="#">
        Any
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" data-role="filter" data-attr="Brand">
        <li class="tvFinderMenuChoice"><a data-value="*" href="#">Any</a></li>
        {{#.}}
            <li class="tvFinderMenuChoice"><a href="#" data-value="{{.}}">{{.}}</a></li>
        {{/.}}
    </ul>
</div>
