<span id="tvFinderMatchOfferCountId" class="tvFinderMatchOfferCount"></span>
<span>for televisions fitting that criteria</span>
<button id="tvFinderClearFiltersId" class="btn tvFinderClearFilters">Clear Filters</button>
