Sort
<div class="btn-group tvFinderControl">
    <a class="btn btn-large dropdown-toggle" data-toggle="dropdown" href="#">
        Featured
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" data-role="sort">
        <li class="tvFinderMenuChoice"><a href="#" data-asc="true">Featured</a></li>
        <li class="tvFinderMenuChoice"><a href="#" data-asc="true">Price</a></li>
        <li class="tvFinderMenuChoice"><a href="#" data-asc="false">Rating</a></li>
        <li class="tvFinderMenuChoice"><a href="#" data-asc="true">Name</a></li>
        <li class="tvFinderMenuChoice"><a href="#" data-asc="true">Size</a></li>
    </ul>
</div>
