<h1>Get More, For Less</h1>

<h2>Find the perfect Television with our new <a class="tvFinderLink" href="#"
                                                title="TVFinder">TVFinder&trade;</a>
</h2>

<div class="tvFinderOffers">
    <div class="tvFinderMinPrice"><span class="tvFinderUsDollars">$89</span><span
            class="tvFinderUsCents">.98</span></div>
    <div class="tvFinderMinSize">19&rdquo;</div>
    <div class="tvFinderMedianPrice"><span class="tvFinderUsDollars">$449</span><span
            class="tvFinderUsCents">.00</span></div>
    <div class="tvFinderMedianSize">40&rdquo;</div>
    <div class="tvFinderMaxPrice"><span class="tvFinderUsDollars">$2999</span><span
            class="tvFinderUsCents">.99</span></div>
    <div class="tvFinderMaxSize">70&rdquo;</div>
</div>
