Type
<div class="btn-group tvFinderControl">
    <a class="btn btn-large dropdown-toggle" data-toggle="dropdown" href="#">
        Any
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" data-role="filter" data-attr="Type">
        <li class="tvFinderMenuChoice"><a href="#">Any</a></li>
        {{#types}}
            <li class="tvFinderMenuChoice"><a href="#">{{.}}</a></li>
        {{/types}}
    </ul>
</div>
